@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/Helvetica/Helvetica-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica-light";
  src: url("../fonts/Helvetica/Helvetica-Light.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica-italic";
  src: url("../fonts/Helvetica/Helvetica-Oblique.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica-italic-bold";
  src: url("../fonts/Helvetica/Helvetica-BoldOblique.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica-italic-light";
  src: url("../fonts/Helvetica/Helvetica-LightOblique.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
